@import "./variables";
$success: $color-success;
@import "bootstrap/scss/bootstrap";

body {
  font-family: 'Graphik', sans-serif;
}

.header-border {
  border-bottom: 3px solid $color-primary-dark;
}

.header-sticky {
  position: sticky;
  top: 0;
  z-index: 1030;
}

.footer-border {
  border-top: 3px solid $color-primary-dark;
}

.text-artisan-dark {
  color: $color-dark;
}

.bg-artisan-light {
  background-color: $color-light;
}

.text-artisan-primary-dark {
  color: $color-primary-dark;
}

.rounded-artisan {
  border-radius: 12px;
}

.form-control-artisan {
  background-color: rgba($color-primary, 0.2);
  border: 1px solid $color-primary;

  &::placeholder {
    color: $color-dark;
  }
}

.placeholder-artisan::placeholder {
  opacity: 0.5;
  color: $color-dark;
}

.menu-panel {
  border-left: 3px solid $color-primary-dark;
  border-top: 3px solid $color-primary-dark;
}

.menu-puce {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $color-primary;
  flex-shrink: 0;
}